<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <input type="text" id="urlInput" placeholder="Enter URL here">
        <button id="shortenButton">Shorten URL</button>
        <input type="text" id="hashOutput" placeholder="Shortened hash" readonly>
    </div>
    <script src="script.js"></script>
</body>

</html>